body{ text-align: center;
}

h1{
    font-size: 4rem;
    background-color:black;
    color: white;
    width: 30rem;
    margin: auto;
    text-transform: uppercase;
    border-radius: 10px;
    transition: all 1s;
}
h1:hover{ 
    background-color: red;
}